/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
  padding-bottom: 10%;
  font-family: 'Chilanka', cursive;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 2;
  font-size: 1.7rem;
  padding-bottom: 10px;
  font-family: 'Righteous', cursive;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  font-size: 400%;
  padding-left: 2%;
  padding-bottom: 3%;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    margin: 10% 0% 5% 0%;
    padding-left: 0%;
    font-size: 280%;
  }
}
header nav a {
  color: aliceblue;
  font-family: 'Chilanka', cursive;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  font-size: 400%;
  padding-left: 22%;
  padding-bottom: 3%;
  padding-top: 5%;
}
@media (max-width: 500px) {
  footer nav {
    width: 100%;
    margin: 10% 0% 5% 0%;
    padding-left: 0%;
    font-size: 300%;
  }
}
footer nav a {
  color: gray;
  font-family: 'Chilanka', cursive;
}
/* Navbar container */
.navbar {
  width: 88%;
  margin: 3% 5% 0% 6%;
  overflow: hidden;
  background-color: #DEFBD7;
  font-family: Arial;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 100%;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 300%;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 2% 2% 2% 2% black;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 2% 2% 2% 2%;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
header {
  margin-top: 2%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 5%;
  background-image: url(../img/tablepeas.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position-x: 50%;
  background-position-y: 50%;
}
@media (max-width: 500px) {
  header {
    padding: 5% 5% 5% 5%;
    background-size: 95%;
    padding-bottom: 10%;
    margin-top: 3%;
  }
}
header h1 {
  font-size: 500%;
  font-family: fantasy;
  font-style: italic;
  color: #09c431;
}
.topContent {
  display: flex;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 5px dashed gray;
  border-bottom: 5px dashed gray;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #DEFBD7;
}
@media (max-width: 500px) {
  .topContent {
    margin-top: 5%;
  }
}
.topContent .topContentMiddle {
  margin: 0% 4% 0% 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.topContent img {
  max-width: 20%;
  max-height: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .topContent img {
    display: none;
  }
}
.btn {
  display: block;
  background-color: #DEFBD7;
  cursor: pointer;
  width: 25%;
  height: 18%;
  font-size: 2rem;
  border-radius: 10px;
  color: black;
  border: 5px dashed gray;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
  margin: 5% 5% 5% 37%;
}
.btn:hover {
  color: #DEFBD7;
  background-color: black;
}
@media (max-width: 1135px) {
  .btn {
    width: 30%;
    margin: 5% 0% 5% 34%;
  }
}
@media (max-width: 500px) {
  .btn {
    width: 90%;
    margin: 5% 0% 5% 5%;
  }
}
.btn a {
  margin: -12% 5% 5% 5%;
  font-size: 240%;
  line-height: 1.5;
  font-family: 'Kalam', sans-serif;
}
@media (max-width: 1135px) {
  .btn a {
    margin: -15% 0% 0% 0%;
    font-size: 136%;
  }
}
@media (max-width: 500px) {
  .btn a {
    margin: 0% 5% 5% 5%;
  }
}
.middleContent {
  display: flex;
  flex-direction: row-reverse;
  padding: 2% 0% 2% 1%;
  margin-top: 4%;
  margin-bottom: 4%;
  border-top: 5px dashed gray;
  border-bottom: 5px dashed gray;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #DEFBD7;
}
.middleContent section {
  padding: 1% 5% 1% 20%;
}
@media (max-width: 500px) {
  .middleContent section {
    padding: 5% 10% 5% 10%;
  }
}
@media (max-width: 500px) {
  .middleContent {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 5px dashed gray;
    border-bottom: 5px dashed gray;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #DEFBD7;
    margin: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
img {
  max-width: 40%;
  max-height: 5%;
}
@media (max-width: 500px) {
  img {
    max-width: 90%;
  }
}
.bottomContent {
  display: flex;
  padding: 2% 1% 2% 0%;
  border-top: 5px dashed gray;
  border-bottom: 5px dashed gray;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #DEFBD7;
}
@media (max-width: 500px) {
  .bottomContent {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 5px dashed gray;
    border-bottom: 5px dashed gray;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #DEFBD7;
    margin: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.bottomContent section {
  padding: 5% 20% 5% 5%;
}
@media (max-width: 500px) {
  .bottomContent section {
    padding: 5% 10% 5% 10%;
  }
}
.bottomContent img {
  max-width: 40%;
}
@media (max-width: 500px) {
  .bottomContent img {
    max-width: 90%;
  }
}
#roster1 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px dotted gray;
  background-color: #DEFBD7;
}
#roster1 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster1 section {
    padding: 5% 10% 5% 10%;
  }
}
#roster1 img {
  max-width: 20%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster1 img {
    max-width: 90%;
  }
}
#roster2 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px solid gray;
  background-color: #ffd4c2;
}
#roster2 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster2 section {
    padding: 5% 10% 5% 10%;
  }
}
#roster2 img {
  max-width: 20%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster2 img {
    max-width: 90%;
  }
}
#roster3 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px dotted gray;
  background-color: #DEFBD7;
}
#roster3 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster3 section {
    padding: 5% 10% 5% 10%;
  }
}
#roster3 img {
  max-width: 20%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster3 img {
    max-width: 90%;
  }
}
#roster4 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px solid gray;
  background-color: #ffd4c2;
}
#roster4 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster4 section {
    padding: 5% 10% 5% 10%;
  }
}
#roster4 img {
  max-width: 17%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster4 img {
    max-width: 90%;
  }
}
#roster5 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px dotted gray;
  background-color: #DEFBD7;
}
#roster5 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster5 section {
    padding: 5% 10% 5% 10%;
  }
}
#roster5 img {
  max-width: 17%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster5 img {
    max-width: 90%;
  }
}
#roster6 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px solid gray;
  background-color: #ffd4c2;
}
#roster6 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster6 section {
    padding: 5% 10% 5% 10%;
  }
}
#roster6 img {
  max-width: 20%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster6 img {
    max-width: 90%;
  }
}
#roster7 {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px dotted gray;
  background-color: #DEFBD7;
}
#roster7 section {
  padding: 2% 20% 2% 5%;
}
@media (max-width: 500px) {
  #roster7 section {
    padding: 2% 10% 2% 10%;
  }
}
#roster7 img {
  max-width: 20%;
  max-height: 5%;
  margin: 1% 50% 1% 5%;
}
@media (max-width: 500px) {
  #roster7 img {
    max-width: 90%;
  }
}
.btn2 {
  display: block;
  background-color: #DEFBD7;
  cursor: pointer;
  width: 10%;
  height: 18%;
  font-size: 2rem;
  border-radius: 10px;
  color: black;
  border: 5px dashed gray;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
  width: 20%;
  padding-top: 0%;
  font-size: 118%;
  height: 9%;
  border: none;
  background-color: white;
}
.btn2:hover {
  color: #DEFBD7;
  background-color: black;
}
.signUpPage {
  margin: 5% 5% 6% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 2px dotted gray;
  border-top: 2px dotted gray;
  background-color: #DEFBD7;
}
.signUpPage h2 {
  margin: 5% 5% 40% 40%;
}
